.page-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 1em;
}

.new-match-container {
  margin: auto;
}

.history-container {
  margin-bottom: 2em;
}

.match-type-container {
  display: flex;
}
